p  { text-align: left; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; font-size: 11pt; 
     background-color: white; color: black 
   }
  p.code { font-family: Monaco, "Andale Mono", monospace; font-size:10pt; }
  p.version { text-align: left; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; font-size: 6pt; 
              background-color: white; color: black 
            }
h1 { text-align: center; font-family: Arial,Helvetica,"Lucida console",sans-serif; font-size: 16pt; }
h2 { margin-left: 0em; font-family: Arial,Helvetica,"Lucida console",sans-serif; font-size: 13pt; }
h3 { margin-left: 0em; font-family: Arial,Helvetica,"Lucida console",sans-serif; font-size: 12pt; }
h4 { margin-left: 0em; font-family: Arial,Helvetica,"Lucida console",sans-serif; font-size: 10pt; }
th { text-align: center; font-family: Arial; font-size: 11pt; background-color: black; color: white }
td { text-align: left; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; font-size: 11pt; 
     background-color: white; color: black 
   }
  td.center { text-align: center; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
              font-size: 11pt; background-color: white; color: black 
	    }
  td.right  { text-align: right; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
              font-size: 11pt; background-color: white; color: black 
	    }
  td.links { text-align: left; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
             font-size: 9pt; background-color: white; color: black 
	   }
  td.footer-left   { text-align: left; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
                     font-size: 8pt; background-color: white; color: black 
		   }
  td.footer-center { text-align: center; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
                     font-size: 8pt; background-color: white; color: black 
		   }
  td.footer-right  { text-align: right; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
                     font-size: 8pt; background-color: white; color: black 
		   }
  td.bgBlack { text-align: left; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
               font-size: 9pt; background-color: black; color: white 
	     }
  td.bgGreen { text-align: left; vertical-align: top;  font-family: Arial,Helvetica,"Lucida console",sans-serif; 
               font-size: 11pt; background-color: green; color: white 
	     }
pre { text-align: left; vertical-align: top;  font-family: Courier,"Courier new",serif; font-size: 10pt; 
      background-color: white; color: black 
    }
blockquote { 
             margin: 10px 0px 10px 0px; 
             padding: 5px 10px 5px 10px;
             border-left: 4px solid;
             border-color: #109CEF;
           }

#content {
		  width: 768px;
		  margin-left: auto;
		  margin-right: auto;
		  border: 1px solid;
		  border-color: #000000;
	 }
